@import url('https://fonts.cdnfonts.com/css/lufga');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font-family: 'Lufga', sans-serif;
    --secondary-font-family: 'Urbanist', sans-serif;
    --primary-color: #FD853A;
    --secondary-color: #171717;
    --on-primary-color: #FFFFFF;
    --on-secondary-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.max-width-limit {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.color--primary,
.social__account .icon:hover,
.footer__section__heading {
    color: var(--primary-color);
}

.hero,
.chip__content,
.hero__heading,
.hero__image {
    position: relative;
}

.chip__content::after,
.hero__heading::after,
.hero .testimonial,
.hero .testimonial::before,
.hero .experience,
.hero .experience__count::before,
.hero__image .image,
.hero__cta {
    position: absolute;
}

.hero,
.link,
.footer__cta {
    align-items: center;
}

.hero {
    text-align: center;
    justify-content: center;
    padding-block-start: 2rem;
    overflow: hidden;
}

.chip,
.button {
    display: inline-flex;
}

.chip {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 400;
}

.chip__content,
.hero__cta .cta,
.footer__cta .cta {
    padding: 0.5rem 1rem;
}
.chip__content::after {
    content: url(./assets/decorator-01-lines.svg);
    top: -1.5rem;
    right: -1.5rem;
}

.header__nav,
.hero__heading,
.section,
.footer {
    padding-inline: 3rem;
}
.hero__heading {
    font-size: 4rem;
    max-width: 600px;
}
.hero__heading::after {
    content: url(./assets/decorator-01-lines.svg);
    display: inline-block;
    transform: rotate(180deg) scale(2);
    left: 1rem;
    bottom: -4rem;
}

.header,
.header__nav,
.nav__links,
.nav__link,
.link,
.hero,
.hero__image,
.hero .experience,
.hero__cta,
.why-hire-me,
.section__body,
.records,
.section__ctas,
.footer,
.footer__cta,
.footer__body,
.footer__section,
.social__accounts,
.social__account,
.footer__links,
.footer__link,
.subscription-form,
.footer__copyrights,
.footer__copyrights .footer__links {
    display: flex;
}

.hero,
.hero .experience,
.section__body,
.footer,
.footer__section,
:not(.footer__copyrights) > .footer__links {
    flex-direction: column;
}

.header,
.header__nav,
.nav,
.nav__links,
.footer__summary,
.footer__cta,
.footer__link,
.link,
.form__field {
    flex-grow: 1;
}

.hero__cta,
.social__accounts {
    gap: 0.5rem;
}

.header__nav .nav__links,
.header__nav .link,
.chip,
.hero__cta,
.hero__cta .cta,
.footer__cta .cta {
    border-radius: 100px;
}

.nav__links,
.hero .chip,
.hero .testimonial,
.hero .experience,
.hero__cta,
.section,
.footer {
    font-family: var(--primary-font-family);
}

.hero__heading,
.experience__count {
    font-family: var(--secondary-font-family);
    font-weight: bold;
}

.header__nav {
    justify-content: center;
    padding-block: 1rem;
}

.nav__links,
.hero__cta {
    padding: 6px;
}

.hero__cta {
    background-color: rgba(256, 256, 256, 0.2);
    bottom: 2rem;
    border: 2px solid #C9C9C9;
    font-weight: 300;
}
.nav__links {
    background-color: var(--secondary-color);
}

.link {
    text-decoration: none;
    color: var(--on-secondary-color);
    padding: 0.5rem 2rem;
}
.hero__cta .cta {
    background-color: transparent;
}
.link:hover,
.link.active,
.form__icon-button {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}
.header__nav .link.active {
    font-weight: bold;
}
.brand__link .link,
.footer__link .link {
    padding: 0;
}
.brand__logo {
    height: 50px;
}
.header__nav .nav__link:nth-child(2),
.header__nav .nav__link:nth-child(3),
.header__nav .nav__link:nth-child(4),
.hero .chip,
.subscription-form .form__field {
    order: -1;
}

.hero .testimonial {
    left: 3rem;
    top: 60%;
    width: 280px;
    text-align: left;
}
.hero .testimonial::before {
    content: url(./assets/decorator-02-quotes.svg);
    top: -3rem;
}
.hero .experience {
    right: 3rem;
    top: 60%;
    align-items: flex-end;
}
.hero .experience .experience__count {
    font-size: 2.65rem;
    display: block;
}
.hero .experience__count::before {
    content: '';
    background-image: url(./assets/decorator-03-star.svg);
    background-repeat: space;
    background-size: 28px 28px;
    width: 140px;
    height: 32px;
    top: -2.5rem;
    right: 0;
}
.hero__image {
    width: 600px;
    height: 340px;
}
.hero__image .image {
    width: 600px;
    object-fit: cover;
    bottom: 0;
}

.hero__image::after {
    content: '+';
    position: relative;
    background-color: #FEB273;
    top: 88px;
    left: 12px;
    z-index: -1;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    margin-inline: auto;
}

.footer,
.social__account .icon {
    color: #FFFFFF;
}

.footer,
.footer__body {
    gap: 1.5rem;
}
.footer {
    background-color: #272727;
    padding-block: 1rem;
}
.footer__cta {
    width: 100%;
}
.footer__heading {
    font-size: 3rem;
    padding-block: 1rem;
}

.social__account .icon,
.footer__section__heading {
    font-size: 1.25rem;
}

.footer__section__heading {
    white-space: nowrap;
}

.form__icon-button,
.form__field {
    border: none;
    padding: 0.5rem;
    outline: none;
}
.subscription-form .form__field {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.subscription-form .form__icon-button {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
}

.nav__links,
.footer__cta,
.footer__copyrights {
    justify-content: space-between;
}

.copyrights,
.footer__copyrights .link {
    text-transform: capitalize;
}

.footer__section,
.section__body {
    gap: 1.5rem;
}

.footer__summary {
    justify-content: space-between;
}

.footer__copyrights .footer__link {
    padding: 0 0.5rem;
}
.footer :not(.footer__copyrights) .footer__links {
    gap: 0.75rem;
}

.footer__copyrights .footer__link:last-child {
    border-left: 1px solid #FFFFFF;
}

.section {
    gap: 1rem;
}
.why-hire-me {
    background-color: #F2F4F7;
}
.section__body {
    gap: 2rem;
    padding-right: 2rem;
}

.section__heading {
    font-size: 3rem;
}
.section__heading .color--primary {
    display: inline-block;
}
.section__heading .color--primary::first-letter {
    text-transform: uppercase;
}
.section__text {
    color: #98A2B3;
    font-size: 1.1rem;
}
.card__heading {
    color: #1D2939;
    font-size: 2rem;
    font-weight: 600;
}
.card__body {
    color: #667085;
    font-size: 1.1rem;
}
.section__image {
    /* width: 500px; */
    padding-block: 2rem;
}
.section__image .image {
    width: 100%;
}
.section__body {
    padding-block: 1rem;
    justify-content: center;
}
.why-hire-me .section__body .section__text {
    width: 58%;
}
.button {
    border: 1px solid #151515;
    color: #151515;
    font-weight: bolder;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 18px;
    font-size: 1.5rem;
}
.records > * {
    flex-grow: 1;
}


.section {
    border-radius: 30px;
}

.section .text__section {
    padding-block: 3rem;
}

.my-services {
    background-color: #171717;
    color: white;
    position: relative;
    padding-block-end: 1rem;
}

.services.cards {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}
.service__card {
    flex: 1 1 auto;
}
.text__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.text__section .section__description {
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFFFFF;
}


.decorators .decorator:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 280px;
}
.decorators .decorator:nth-child(2) {
    position: absolute;
    top: 20px;
    left: 35%;
    width: 180px;
}
.decorators .decorator:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 350px;
}

.service__card {
    border: 1px solid #9E9D9D;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.service__card__heading {
    padding: 1.5rem 1.25rem 1rem 1.25rem;
    border-bottom: 1px solid #9E9D9D;
}
.service__card__body {
    padding-top: 2rem;
    position: relative;
}
.service__card__body::after {
    content: '';
    /* background-color: #171717; */
    backdrop-filter: blur(100px);
    position: absolute;
    width: 70px;
    height: 70px;
    bottom: 0;
    right: 0;
    border-top-left-radius: 35px;
    z-index: 1;
}
.service__card__image {
    display: flex;
    width: 100%;
    position: relative;
}
.service__card .icon-button {
    position: absolute;
    background-color: #1D2939;
    padding: 1rem;
    border-radius: 50%;
    bottom: 4px;
    right: 4px;
    z-index: 2;
}

.carousal-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 1.5rem;
}
.carousal-button {
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 0.35rem;
}
.carousal-button.active {
    background-color: var(--primary-color);
    width: 50px;
}