@import url('https://fonts.cdnfonts.com/css/lufga');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-font-family: 'Lufga', sans-serif;
    --secondary-font-family: 'Urbanist', sans-serif;
    --primary-color: #FD853A;
    --secondary-color: #171717;
    --on-primary-color: #FFFFFF;
    --on-secondary-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.max-width-limit {
    max-width: 1400px;
    margin: 0 auto;
}

.color--primary {
    color: var(--primary-color);
}

.hero,
.chip__content,
.hero__heading,
.hero__image {
    position: relative;
}

.chip__content::after,
.hero__heading::after,
.hero .testimonial,
.hero .testimonial::before,
.hero .experience,
.hero .experience__count::before,
.hero__image .image,
.hero__cta {
    position: absolute;
}

.hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-block-start: 2rem;
    overflow: hidden;
}
.chip {
    display: inline-flex;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-weight: 400;
}

.chip__content,
.hero__cta .cta {
    padding: 0.5rem 1rem;
}
.chip__content::after {
    content: url(./assets/decorator-01-lines.svg);
    top: -1.5rem;
    right: -1.5rem;
}

.header__nav,
.hero__heading {
    padding-inline: 3rem;
}
.hero__heading {
    font-size: 4rem;
    max-width: 600px;
}
.hero__heading::after {
    content: url(./assets/decorator-01-lines.svg);
    display: inline-block;
    transform: rotate(180deg) scale(2);
    left: 1rem;
    bottom: -4rem;
}

.hero .chip {
    order: -1;
}

.header,
.header__nav,
.nav__links,
.nav__link,
.link,
.hero,
.hero__image,
.hero .experience,
.hero__cta {
    display: flex;
}
.header,
.header__nav,
.nav {
    flex-grow: 1;
}

.header__nav .nav__links,
.header__nav .link,
.chip,
.hero__cta,
.hero__cta .cta {
    border-radius: 100px;
}

.nav__links,
.hero .chip,
.hero .testimonial,
.hero .experience,
.hero__cta {
    font-family: var(--primary-font-family);
}

.hero__heading,
.experience__count {
    font-family: var(--secondary-font-family);
    font-weight: bold;
}

.header__nav {
    justify-content: center;
    padding-block: 1rem;
}

.nav__links,
.hero__cta {
    padding: 6px;
}

.hero__cta {
    background-color: rgba(256, 256, 256, 0.2);
    bottom: 2rem;
    border: 2px solid #C9C9C9;
    gap: 0.5rem;
    font-weight: 300;
}
.nav__links {
    background-color: var(--secondary-color);
    flex-grow: 1;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    align-items: center;
    color: var(--on-secondary-color);
    padding: 0.5rem 2rem;
    background-color: var(--secondary-color);
}
.hero__cta .cta {
    background-color: transparent;
}
.link:hover,
.link.active {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
}
.header__nav .link.active {
    font-weight: bold;
}
.brand__link .link {
    padding: 0;
}
.brand__logo {
    height: 50px;
}
.header__nav .nav__link:nth-child(2),
.header__nav .nav__link:nth-child(3),
.header__nav .nav__link:nth-child(4) {
    order: -1;
}

.hero .testimonial {
    left: 3rem;
    top: 60%;
    width: 280px;
    text-align: left;
}
.hero .testimonial::before {
    content: url(./assets/decorator-02-quotes.svg);
    top: -3rem;
}
.hero .experience {
    right: 3rem;
    top: 60%;
    flex-direction: column;
    align-items: flex-end;
}
.hero .experience .experience__count {
    font-size: 2.65rem;
    display: block;
}
.hero .experience__count::before {
    content: '';
    background-image: url(./assets/decorator-03-star.svg);
    background-repeat: space;
    background-size: 28px 28px;
    width: 140px;
    height: 32px;
    top: -2.5rem;
    right: 0;
}
.hero__image {
    width: 600px;
    height: 340px;
}
.hero__image .image {
    width: 600px;
    object-fit: cover;
    bottom: 0;
}

.hero__image::after {
    content: '+';
    position: relative;
    background-color: #FEB273;
    top: 88px;
    left: 12px;
    z-index: -1;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    margin-inline: auto;
}
