@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}


:root {
    --orange-primary: #FC6D00;
    --black-primary: #000000;

    --orange-50: #FFEFE6;
    --orange-100: #FFCFB0;
    --orange-200: #FFB78A;
    --orange-300: #FF9654;
    --orange-400: #FF8233;
    --orange-500: #FF6300;
    --orange-600: #E85A00;
    --orange-700: #B54600;
    --orange-800: #8C3600;
    --orange-900: #6B2A00;
    
    --black-50: #E6E6E6;
    --black-100: #B0B0B0;
    --black-200: #8A8A8A;
    --black-300: #545454;
    --black-400: #333333;
    --black-500: #000000;
    --black-600: #000000;
    --black-700: #000000;
    --black-800: #000000;
    --black-900: #000000;

    --font-family-base: "Poppins", sans-serif;
    --font-size-base: 18px;
    --line-height-base: 1.5;

    --font-size-1: 0.667rem; /* 12px */
    --font-size-2: 0.778rem; /* 14px */
    --font-size-3: 1.000rem; /* 18px */
    --font-size-4: 1.278rem; /* 23px */
    --font-size-5: 1.556rem; /* 28px */
    --font-size-6: 1.944rem; /* 35px */
    --font-size-7: 2.444rem; /* 44px */
    --font-size-8: 3.056rem; /* 55px */
    --font-size-9: 3.833rem; /* 69px */
}

html {
    /*
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-family: var(--font-family-base);
    */
    font: normal normal bold var(--font-size-base)/var(--line-height-base) var(--font-family-base);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
}

.max-width-container {
    margin-inline: auto;
    display: flex;
    flex-grow: 1;
    padding-inline: 2rem;
    max-width: 1480px;
}

.brand {
    display: inline-flex;
}

.brand__logo {
    height: 120px;
    object-fit: contain;
    display: block;
}

.header__nav {
    display: inline-flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav__links,
.nav__buttons {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
}

.nav__link,
.nav__button {
    display: flex;
}

.link,
.button {
    white-space: nowrap;
    padding: 0.5rem 0.5rem;
    color: var(--black-primary);
    text-decoration: none;
    font-weight: 400;
}

.link:hover,
.button:hover {
  text-decoration: underline;
  color: var(--orange-primary);
  background-color: var(--orange-50);
}

.button--primary {
    background-color: var(--orange-primary);
    color: #FFFFFF;
    border-radius: 4px;
}

.button--primary:hover {
  color: var(--orange-primary);
  background-color: var(--black-primary);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.header__nav {
  align-items: center;
}

.nav__toggle-button {
    display: none !important;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .nav__toggle-button {
    display: flex !important;
  }
  .nav__toggle-button:hover {
    background-color: var(--orange-300) !important;
  }
  .brand__logo {
    height: 80px;
  }
  .max-width-container {
    padding-inline: 1rem;
    align-items: center;
  }
  .header__nav.open {
    flex-wrap: nowrap;
    height: fit-content;
    min-height: 100vh;
    gap: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    max-width: 480px;
    min-width: 250px;
    background-color: var(--orange-primary);
  }
  .header__nav:not(.open) .nav__links,
  .header__nav:not(.open) .nav__buttons {
    display: none;
  }
  .header__nav.open .nav__links,
  .header__nav.open .nav__buttons {
    flex-direction: column;
    align-content: stretch;
    gap: 0;
  }
  .header__nav.open .link,
  .header__nav.open .button {
    flex-grow: 1;
    text-align: center;
  }
  .header__nav.open .nav__buttons {
    margin-top: auto;
  }
  .header__nav .button {
    color: var(--black-primary);
    background-color: var(--orange-100);
  }
  .header__nav .link:hover,
  .nav__toggle-button:hover {
    background-color: var(--orange-400);
    color: var(--black-primary);
  }
  .header__nav .button:hover {
    background-color: var(--black-primary);
    color: var(--orange-100);
  }
  .nav__toggle-button {
    order: -1;
    align-self: flex-end;
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
  }
}
