@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}


:root {
    --orange-primary: #FC6D00;
    --black-primary: #000000;

    --orange-50: #FFEFE6;
    --orange-100: #FFCFB0;
    --orange-200: #FFB78A;
    --orange-300: #FF9654;
    --orange-400: #FF8233;
    --orange-500: #FF6300;
    --orange-600: #E85A00;
    --orange-700: #B54600;
    --orange-800: #8C3600;
    --orange-900: #6B2A00;
    
    --black-50: #E6E6E6;
    --black-100: #B0B0B0;
    --black-200: #8A8A8A;
    --black-300: #545454;
    --black-400: #333333;
    --black-500: #000000;
    --black-600: #000000;
    --black-700: #000000;
    --black-800: #000000;
    --black-900: #000000;

    --font-family-base: "Poppins", sans-serif;
    --font-size-base: 18px;
    --line-height-base: 1.5;

    --font-size-1: 0.667rem; /* 12px */
    --font-size-2: 0.778rem; /* 14px */
    --font-size-2: 1.000rem; /* 18px */
    --font-size-2: 1.278rem; /* 23px */
    --font-size-2: 1.556rem; /* 28px */
    --font-size-2: 1.944rem; /* 35px */
    --font-size-2: 2.444rem; /* 44px */
    --font-size-2: 3.056rem; /* 55px */
    --font-size-2: 3.833rem; /* 69px */
}

html {
    /*
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-family: var(--font-family-base);
    */
    font: normal normal bold var(--font-size-base)/var(--line-height-base) var(--font-family-base);
}