@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}


:root {
    --orange-primary: #FC6D00;
    --black-primary: #000000;

    --orange-50: #FFEFE6;
    --orange-100: #FFCFB0;
    --orange-200: #FFB78A;
    --orange-300: #FF9654;
    --orange-400: #FF8233;
    --orange-500: #FF6300;
    --orange-600: #E85A00;
    --orange-700: #B54600;
    --orange-800: #8C3600;
    --orange-900: #6B2A00;
    
    --black-50: #E6E6E6;
    --black-100: #B0B0B0;
    --black-200: #8A8A8A;
    --black-300: #545454;
    --black-400: #333333;
    --black-500: #000000;
    --black-600: #000000;
    --black-700: #000000;
    --black-800: #000000;
    --black-900: #000000;

    --font-family-base: "Poppins", sans-serif;
    --font-size-base: 18px;
    --line-height-base: 1.5;

    --font-size-1: 0.667rem; /* 12px */
    --font-size-2: 0.778rem; /* 14px */
    --font-size-3: 1.000rem; /* 18px */
    --font-size-4: 1.278rem; /* 23px */
    --font-size-5: 1.556rem; /* 28px */
    --font-size-6: 1.944rem; /* 35px */
    --font-size-7: 2.444rem; /* 44px */
    --font-size-8: 3.056rem; /* 55px */
    --font-size-9: 3.833rem; /* 69px */
}

html {
    /*
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-family: var(--font-family-base);
    */
    font: normal normal bold var(--font-size-base)/var(--line-height-base) var(--font-family-base);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main {
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
}

.max-width-container {
  margin-inline: auto;
  display: flex;
  flex-grow: 1;
  padding-inline: 3rem;
  max-width: 1480px;
}

.brand {
  display: inline-flex;
}

.brand__logo {
  height: 120px;
  object-fit: contain;
  display: block;
}

.header__nav {
  display: inline-flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav__links,
.nav__buttons {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
}

.nav__link,
.nav__button {
  display: flex;
}

.link,
.button,
.form__field {
  white-space: nowrap;
  padding: 0.5rem 0.5rem;
  color: var(--black-primary);
  text-decoration: none;
  font-weight: 400;
  border: none;
}
.form__field {
  border: 1px solid var(--black-300);
  border-radius: 4px;
  color: #AFAFAF;
  background-color: #F8F8F8;
  accent-color: #797979;
}
.form__field:focus {
  outline: 2px solid var(--orange-primary);
  border: none;
}

.link:hover,
.button:hover {
  text-decoration: underline;
  color: var(--orange-primary);
  background-color: var(--orange-50);
}

.button--primary {
    background-color: var(--orange-primary);
    color: #FFFFFF;
    border-radius: 4px;
    min-width: 150px;
    font-size: var(--font-size-3);
    text-align: center;
}

.button--primary:hover {
  color: var(--orange-primary);
  background-color: var(--black-primary);
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.header__nav {
  align-items: center;
}

.nav__toggle-button {
    display: none !important;
    cursor: pointer;
}

section {
  align-items: center;
  padding-bottom: 5rem;
}

.hero {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 400px;
}

.text__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  text-align: justify;
}
.text--small,
.skill__name {
  font-size: var(--font-size-3);
}
.color--primary {
  color: var(--orange-primary);
  font-size: var(--font-size-5);
}
.heading--primary {
  line-height: 1.1;
  font-size: var(--font-size-9);
}
.hero__description,
.section__body,
.persona__message {
  font-size: var(--font-size-3);
  font-weight: 400;
}

.visual__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: fit-content;
  margin-left: auto;
}
.hero__image,
.about-me__image {
  width: 400px;
}

.social__accounts {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-inline: auto;
}
.fa-brands {
  font-size: var(--font-size-4);
}
.fa-brands:hover {
  color: var(--orange-primary);
}

.section__heading {
  font-size: var(--font-size-7);
  white-space: nowrap;
}

.about-me {
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 2rem;
}
.section {
  display: flex;
  align-items: stretch;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.skill {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
}
.skill__confidence {
  accent-color: var(--orange-primary);
  width: 100%;
}
.about-me .visual__content {
  order: -1;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.services__section .text__content,
.projects__section .text__content,
.testimonials_section .text__content,
.contact__section .text__content {
  display: flex;
  max-width: 740px;
  text-align: center;
  margin-inline: auto;
}
.services {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px;
  gap: 1rem;
}

.service {
  background-color: #F8F8F8;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.service__image {
  order: -1;
  height: 80px;
}
.service__description {
  font-size: var(--font-size-2);
  font-weight: 400;
}

.projects__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.categories {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.category {
  display: flex;
}
.chip {
  background-color: #F8F8F8;
  border-radius: 12px;
  border: 1px solid var(--black-300);
  padding: 0.5rem 1rem;
  font-size: var(--font-size-3);
  font-weight: 400;
  white-space: nowrap;
}
.chip--primary {
  background-color: var(--orange-primary);
  color: #FFFFFF;
  border: none;
}
.chip:hover {
  cursor: pointer;
  background-color: var(--orange-100);
  border-color: var(--orange-300);
}
.chip--primary:hover {
  background-color: #FFFFFF;
  color: var(--orange-primary);
  border: 1px solid var(--orange-300);
}

.projects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid var(--black-50);
  border-radius: 12px;
}
.project__preview {
  order: -2;
  overflow: hidden;
  border-radius: 10px;
  height: 400px;
  width: 100%;
}
.project__preview img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.project__category {
  font-size: var(--font-size-2);
  font-weight: 400;
  color: var(--orange-primary);
  order: -1;
  white-space: nowrap;
}
.project__title {
  font-size: var(--font-size-4);
  white-space: nowrap;
}

.testimonials_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.testimonials {
  list-style: none;
  display: flex;
  max-width: inherit;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  overflow: scroll;
  scrollbar-width: none;
}
.testimonial {
  display: flex;
  flex: 1 0 60%;
  justify-content: center;
}
.testimonial.active {
  order: 0;
}
.testimonial:not(.active) {
  opacity: 0.5;
}
.testimonial__controls {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.testimonial__control-button {
  width: 50px;
  height: 12px;
  border-radius: 12px;
  border: none;
  background-color: #D9D9D9;
}
.testimonial__control-button--active {
  background-color: var(--orange-primary);
}
.testimonial__control-button:hover {
  cursor: pointer;
  background-color: var(--orange-primary);
  opacity: 0.7;
}
.testimonial__control-button.active {
  background-color: var(--orange-primary);
}
.persona {
  border-radius: 12px;
  display: flex;
  padding: 1rem;
  background-color: #F8F8F8;
  gap: 1rem;
  align-items: space-between;
}
.persona .text__body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.persona__image {
  height: 155px;
}
.quotation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}
.quotation__symbol {
  font-size: var(--font-size-5);
  line-height: 0.5;
  color: var(--orange-primary);
  font-weight: 600;
}
.persona__message {
  text-align: justify;
}
.persona__info {
  display: flex;
  flex-direction: column;
}
.persona__name {
  font-size: var(--font-size-3);
  font-weight: 600;
}
.persona__title {
  font-size: var(--font-size-2);
  font-weight: 400;
}

.contact__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
}
.contact__form {
  display: flex;
  gap: 1rem;
  width: 56vw;
  max-width: 740px;
  margin-inline: auto;
}
.form__field {
  flex-grow: 1;
  padding: 0.5rem;
}

.footer {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  align-items: center;
  margin-inline: auto;
  text-align: center;
}
.footer__copyrights {
  font-size: var(--font-size-3);
  font-weight: 400;
  text-align: center;
  padding: 1rem;
  color: white;
  background-color: #545454;
}
.footer__copyrights .color--primary {
  font-size: var(--font-size-3);
  font-weight: 600;
}

@media screen and (max-width: 1190px) {
  .nav__toggle-button {
    display: flex !important;
  }
  .nav__toggle-button:hover {
    background-color: var(--orange-300) !important;
  }
  .brand__logo {
    height: 80px;
  }
  .max-width-container {
    padding-inline: 1rem;
    align-items: center;
  }
  .header__nav.open {
    flex-wrap: nowrap;
    height: fit-content;
    min-height: 100vh;
    gap: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    max-width: 480px;
    min-width: 250px;
    background-color: var(--orange-primary);
  }
  .header__nav:not(.open) .nav__links,
  .header__nav:not(.open) .nav__buttons {
    display: none;
  }
  .header__nav.open .nav__links,
  .header__nav.open .nav__buttons {
    flex-direction: column;
    align-content: stretch;
    gap: 0;
  }
  .header__nav.open .link,
  .header__nav.open .button {
    flex-grow: 1;
    text-align: center;
  }
  .header__nav.open .nav__buttons {
    margin-top: auto;
  }
  .header__nav .button {
    color: var(--black-primary);
    background-color: var(--orange-100);
  }
  .header__nav .link:hover,
  .nav__toggle-button:hover {
    background-color: var(--orange-400);
    color: var(--black-primary);
  }
  .header__nav .button:hover {
    background-color: var(--black-primary);
    color: var(--orange-100);
  }
  .nav__toggle-button {
    order: -1;
    align-self: flex-end;
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
  }
  .services {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
  .service:last-child {
    grid-row: 2;
    grid-column: 2;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 2rem;
  }
  .testimonial {
    opacity: 1 !important;
  }
  .testimonial__controls {
    display: none;
  }
}

@media screen and (max-width: 970px) {
  .hero,
  .about-me,
  .services__section,
  .projects__section,
  .testimonials_section {
    grid-template-columns: 1fr;
    text-align: center;
    height: auto;
    padding: 1rem 3rem;
  }
  .visual__content {
    display: none !important;
  }
  .services {
    grid-template-columns: 1fr;
  }
  .service:last-child {
    grid-row: auto;
    grid-column: auto;
  }
  .persona__info {
    align-items: flex-start;
  }
}