:root {
    --primary-orange: #fd6f00;
    --on-primary-orange: #ffffff;
    --primary-black: #000000;

    --orange-50: #ffefe6;
    --on-orange-50: #000000;
    --orange-100: #ffcfb0;
    --on-orange-100: #000000;
    --orange-200: #ffb78a;
    --on-orange-200: #000000;
    --orange-300: #ff9654;
    --on-orange-300: #000000;
    --orange-400: #ff8233;
    --on-orange-400: #000000;
    --orange-500: #ff6300;
    --on-orange-500: #000000;
    --orange-600: #e85a00;
    --on-orange-600: #000000;
    --orange-700: #b54600;
    --on-orange-700: #ffffff;
    --orange-800: #8c3600;
    --on-orange-800: #ffffff;
    --orange-900: #6b2a00;
    --on-orange-900: #ffffff;

    --black-50: #e6e6e6;
    --on-black-50: #000000;
    --black-100: #b0b0b0;
    --on-black-100: #000000;
    --black-200: #8a8a8a;
    --on-black-200: #000000;
    --black-300: #545454;
    --on-black-300: #ffffff;
    --black-400: #333333;
    --on-black-400: #ffffff;
    --black-500: #000000;
    --on-black-500: #ffffff;

    --font-base: 18px;
    --font-sm: 14px;
    --font-xs: 12px;
    --font-scale: 1.25;
    --font-size-1: calc(var(--font-base) * var(--font-scale));
    --font-size-2: calc(var(--font-size-1) * var(--font-scale));
    --font-size-3: calc(var(--font-size-2) * var(--font-scale));
    --font-size-4: calc(var(--font-size-3) * var(--font-scale));
    --font-size-5: calc(var(--font-size-4) * var(--font-scale));
    --font-size-6: calc(var(--font-size-5) * var(--font-scale));
    --font-size-7: calc(var(--font-size-6) * var(--font-scale));

    font-family: 'Poppins', sans-serif;
    font-size: var(--font-base);
    line-height: 1.25;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 2em;
    gap: 2em;
}

/* Brand - Logo section in Header */
.brand {
    padding-block: 0.5em;
    display: inline-flex;
    position: relative;
    max-width: 250px;
}
img.brand__name--large {
    object-fit: contain;
}
.brand__stamp {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 60px;
    position: absolute;
    top: 0;
    right: 0.5em;
}
.brand__picture {
    object-fit: contain;
    width: 90%;
    border-radius: 50%;
    box-shadow: 0 0 3em 0.5em var(--orange-300);
}
img.brand__name {
    width: 100%;
    margin-top: 0.35em;
    object-fit: contain;
}
.brand__name {
    font-size: var(--font-sm);
}
.brand__designation {
    text-transform: lowercase;
    font-family:  sans-serif;
    text-wrap: nowrap;
    /* font-size: var(--font-xs); */
    font-size: 0.5em;
    color: var(--black-300);
}

/* Navigation - Header */
.nav,
.nav__list,
.nav__actions {
    display: inline-flex;
}

.nav {
    flex-grow: 1;
    gap: 2em;
}

.nav__list {
    list-style-type: none;
    flex-grow: 1;
    gap: 1.5em;
    justify-content: flex-end;
}
.nav__item {
    display: inline-flex;
    align-items: center;
    text-wrap: nowrap;
    align-content: flex-start;
}
.nav__link {
    text-decoration: none;
    font-weight: 100;
    color: var(--black-500);
    padding: 0.5em;
    border-radius: 0.25em;
}
.nav__button {
    text-decoration: none;
    text-wrap: nowrap;
    font-weight: 100;
    padding: 0.5em;
    border-radius: 0.25em;
}
.button {
    padding: 0.5em;
    border-radius: 0.25em;
}
.button--primary {
    background-color: var(--primary-orange);
    color: var(--on-primary-orange);
}
.nav__link:hover {
    color: var(--orange-500);
    background-color: var(--orange-50);
}
.nav__button:hover {
    color: var(--primary-orange);
    background-color: var(--black-50);
    scale: 1.05;
    transition: scale 0.2s ease-in-out;
}